.reset-container {
  box-sizing: border-box;
  background: white;
  max-width: 600px;
  margin: 10px auto 20px;
}

.reset-section {
  padding: 36px 0;
}

.reset-header {
  font-size: 30px;
  font-weight: 200;
  color: #66757f;
  margin-bottom: 36px;
}

#reset-button {
  margin-top: 25px;
  padding: 10px 20px;
}

#error-explanation p {
  margin-top: 5px;
  color: #c33;
}

.reset-email {
  margin-bottom: 5px;
}

.reset-password {
  margin-bottom: 15px;
}
