.basicBackground {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sent-resets-background {
  @extend .basicBackground;
  background-image: image-url("komroei.jpg");
  position: relative;
}